/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.sidenav-container {
    height: 100%;
  }
  
  .mat-toolbar {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }
  
  .container {
    padding-top: 64px;
    display: flex;
    height: 100vh;
  }
  
  .mat-sidenav {
    width: 250px;
  }
  